table {
    width: 500px;
    height: 300px;
}

table, tr, td, th {
    border: 1px solid;
    border-collapse: collapse;
}

th {
    width: 25%;
}

#th1 {
    background-color: blue;
}

.th2 {
    background-color: red;
}

#th3 {
    background-color: yellow;
}